---
import WorkshopQrScanner from "@src/components/staff/pages/workshop-qr-scanner.svelte";
import Layout from "@src/layouts/ManagementLayout.astro";
import Navbar from "@src/components/staff/navbar.svelte";
---

<Layout
  title="สแกนเช็คสถานะผู้เข้าร่วมงาน"
  description="Staff dashboard for Open House 2024"
>
  <Navbar
    client:load
    currentPath={Astro.url.pathname}
    user={Astro.locals.user}
  />
  <div class="">
    <WorkshopQrScanner client:load />
  </div>
</Layout>
