---
import Layout from "@src/layouts/ManagementLayout.astro";
---

<Layout
  title="Staff Dashboard"
  description="Staff dashboard for Open House 2024"
>
  <main class="relative mt-12 w-full overflow-x-clip text-sm">
    <h1 class="my-8 text-center text-3xl font-bold">Staff Dashboard</h1>
    <p class="text-center">
      Welcome to the staff dashboard. More features coming soon!
    </p>
  </main>
</Layout>
