---
import Layout from "@src/layouts/ManagementLayout.astro";
import { hasOneOfRoleIn } from "@src/auth/utils";
import Button from "@src/components/staff/button.svelte";

// @ts-expect-error role is defined via withCloudflare
const roles = Astro.locals.user?.role || "";
---

<Layout
  title="Staff Dashboard"
  description="Staff dashboard for Open House 2024"
>
  <main class="relative mt-12 w-full overflow-x-clip text-sm">
    <h1 class="my-8 text-center text-3xl font-bold">เมนูสตาฟ</h1>
    <div class="flex flex-col">
      <h2>สำหรับสตาฟทุกคน</h2>
      <Button href="/staff/check-attendance"> ตรวจสถานะผู้เข้าร่วม </Button>
    </div>
  </main>
</Layout>
