---
import RedeemQrScanner from "@src/components/staff/pages/redeem-qr-scanner.svelte";
import Layout from "@src/layouts/ManagementLayout.astro";
import Navbar from "@src/components/staff/navbar.svelte";
---

<Layout title="ของที่ระลึก" description="Staff dashboard for Open House 2026">
  <Navbar
    client:load
    currentPath={Astro.url.pathname}
    user={Astro.locals.user}
  />
  <div class="">
    <RedeemQrScanner client:load />
  </div>
</Layout>
