---
import Logo from "@src/assets/logo.png";
import Button from "@src/components/common/button.svelte";
import Layout from "../../layouts/ContentLayout.astro";
---

<Layout title="ลงทะเบียนสำเร็จ">
  <main class="flex flex-col items-center text-center text-white">
    <img src={Logo.src} alt="Logo" class="mx-auto mt-10 w-36" />
    <h2 class="mt-16 font-serif text-2xl font-bold">
      ลงทะเบียนเข้าร่วมงานสำเร็จ!
    </h2>

    <p class="mt-4 text-blue-200">
      แสดงคิวอาร์โค้ดกับสตาฟในวันงานเพื่อเช็คอินเข้างานและทำกิจกรรมต่าง ๆ
      ในวันที่ 18 - 19 ตุลาคม
    </p>

    <Button class="mt-16" href="/my-id"> ไปยังหน้า MyID </Button>
  </main>
</Layout>
