/* archer-bold */
@font-face {
  font-family: "Archer";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src:
    local("Archer Bold"),
    local("Archer-Bold"),
    url(/fonts/archer/archer-bold.woff2) format("woff2"),
    url(/fonts/archer/archer-bold.woff) format("woff");
  font-display: swap;
}

/* archer-medium */
@font-face {
  font-family: "Archer";
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  src:
    local("Archer Medium"),
    local("Archer-Medium"),
    url(/fonts/archer/archer-medium.woff2) format("woff2"),
    url(/fonts/archer/archer-medium.woff) format("woff");
  font-display: swap;
}

/* chulalongkorn-bold */
@font-face {
  font-family: "CHULALONGKORN";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src:
    local("CHULALONGKORN Bold"),
    local("CHULALONGKORN-Bold"),
    url(/fonts/chulalongkorn/chulalongkorn-bold.woff2) format("woff2"),
    url(/fonts/chulalongkorn/chulalongkorn-bold.woff) format("woff");
  font-display: swap;
}

/* chulalongkorn */
@font-face {
  font-family: "CHULALONGKORN";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src:
    local("CHULALONGKORN Regular"),
    local("CHULALONGKORN-Regular"),
    url(/fonts/chulalongkorn/chulalongkorn.woff2) format("woff2"),
    url(/fonts/chulalongkorn/chulalongkorn.woff) format("woff");
  font-display: swap;
}
