@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes:
    light --default,
    emerald;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* set as default */
  prefersdark: false;
  /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light;
  /* color of browser-provided UI */

  --color-base-300: oklch(0.2186 0.0746 260.23);
  --color-base-200: oklch(0.539 0.123 260.6);
  --color-base-100: oklch(0.2928 0.0646 262.49);
  --color-base-content: oklch(98% 0.003 247.858);
  --color-primary: oklch(0.7363 0.1384 350.55);
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: oklch(70% 0.25 200);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(65% 0.25 160);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);

  /* border radius */
  --radius-selector: 0.35rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 1;
}

@import "./fonts.css";

@theme {
  /* content */
  --font-sans:
    "Archer", "CHULALONGKORN", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* heading */
  --font-serif:
    "Futura PT", "Mitr", ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;

  /*New color 2026*/
  --color-primary: oklch(0.7363 0.1384 350.55);
  --color-background: oklch(0.2186 0.0746 260.23);
  --color-background-light: oklch(0.2928 0.0646 262.49);
  --color-dark: oklch(0.2186 0.0746 260.23);
  --color-white: oklch(0.9687 0.0147 98.28);
  --color-token-1: oklch(0.7259 0.1218 192.76);
  --color-token-2: oklch(0.9687 0.0147 98.28);
  --color-token-3: oklch(0.8586 0.0754 348.25);
  --color-token-4: oklch(0.4584 0.09 164.16);
  --color-token-5: oklch(0.812 0.0598 22.36);
  --color-border-1: oklch(0.656 0.0796 65.04);
  --color-header-card: oklch(0.936 0.0193 41.81);
}

@layer base {
  body {
    min-height: 100vh;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/nowath/assets/backdropHotel.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
}

.oph-soft-white {
  text-shadow: 0.02em 0.02em 0.02em rgba(255, 255, 255, 0.6);
}

.oph-soft-white ::placeholder {
  text-shadow: 0.02em 0.035em 0.02em rgba(50, 50, 50, 0.2);
}

img {
  user-select: none;
}