@import "tailwindcss";
@plugin "daisyui";
@import "./fonts.css";

@theme {
  --font-sans: "Genty", "Cloud Soft", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Futura PT", "Mitr", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@layer base {
  body {
    min-height: 100vh;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}