---
import Layout from "@src/layouts/ContentLayout.astro";
import CutoutBox from "@src/components/common/cutout-box.svelte";
import { Content } from "@src/data/workshops-term.md";
import WorkshopList from "@src/components/workshop-list.svelte";
import { featureFlags } from "@src/data/constants";

const staging = Astro.locals.runtime.env.ENVIRONMENT === "staging";
if (!(import.meta.env.DEV || staging) && !featureFlags.workshopRegistration) {
  return Astro.redirect("/404");
}
---

<Layout
  title="Workshops"
  description="เวิร์กช็อปสำหรับน้อง ๆ ที่สนใจกิจกรรมของภาควิชาต่าง ๆ"
  image="/og-image.png"
  showNavBar={true}
>
  <article class="relative w-full overflow-x-clip text-sm">
    <h1 class="text-3xl">Workshops</h1>
    <span>เวิร์กช็อปสำหรับน้อง ๆ ที่สนใจกิจกรรมของภาควิชาต่าง ๆ</span>

    <section class="mt-6 flex flex-col gap-4">
      <CutoutBox
        class="bg-base-100/60 text-shadow border-base-200 max-h-44 overflow-y-auto p-4 inset-shadow-xs backdrop-blur-md text-shadow-2xs"
      >
        <h2 class="text-xl">เงื่อนไขในการเข้าร่วมเวิร์กช็อป</h2>
        <span>โปรดศึกษาก่อนเริ่มเลือกเวิร์กช็อปที่สนใจ</span>
        <div class="prose">
          <Content />
        </div>
      </CutoutBox>
    </section>

    <WorkshopList client:load class="mt-6 text-black" />
  </article>
</Layout>
