---
import Layout from "../layouts/ContentLayout.astro";
---

<Layout
  title="404 Not Found"
  description="The page you are looking for does not exist."
  image="/og-image.png"
>
  <div
    class="flex text-white flex-col items-center justify-center min-h-screen text-center px-4"
  >
    <h1 class="text-6xl font-bold mb-4">404</h1>
    <p class="text-xl mb-8">หน้าที่คุณกำลังมองหาไม่มีอยู่ในขณะนี้</p>
    <a href="/" class="text-blue-500 hover:underline">กลับหน้าหลัก</a
    >
  </div>
</Layout>
