---
import WorkshopList from "@src/components/workshop-list.svelte";
import NavBar from "../components/navbar.svelte";
import Layout from "../layouts/Base.astro";

if (!import.meta.env.DEV) {
  Astro.redirect("/");
}
---

<Layout
  title="หน้าหลัก"
>
  <div class="h-4"></div>
  <NavBar class="" />

  <!-- Some data (Time) is not serializable -->
  <WorkshopList client:load class="m-6" />
</Layout>
