---
import NavBar from "../components/navbar.svelte";
import Layout from "../layouts/Base.astro";

if (!import.meta.env.DEV) {
  Astro.redirect("/");
}
---

<Layout
  title="หน้าหลัก"
  description="งาน Open House คณะวิทยาศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย 2566"
  image="/og-image.png"
>
  <div class="h-4"></div>
  <NavBar class="" />
</Layout>
