---
import Layout from "../layouts/Base.astro";
import CutoutBox from "../components/cutout-box.svelte";
import Button from "../components/button.svelte";
---

<Layout
  title="หน้าหลัก"
  description="งาน Open House คณะวิทยาศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย 2566"
  image="/og-image.png"
>
  <div class="p-5 bg-black">
    <CutoutBox />
    <Button color="yellow">
      asds
    </Button>
  </div>
</Layout>
