---
import ContentLayout from "@src/layouts/ContentLayout.astro"
import LandingContainer from "@src/container/landing.svelte"
---
<ContentLayout>
    <div class="h-full overflow-auto w-full">
        <LandingContainer/>
    </div>
</ContentLayout>
