---
import Layout from "../layouts/ContentLayout.astro";
import { Image } from "astro:assets";
import Logo from "@src/assets/logo.png";
---

<Layout
  title="หน้าหลัก"
  description="งาน Open House คณะวิทยาศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย 2566"
  image="/og-image.png"
>
  <div>
    <Image src={Logo} alt="Logo" class="mx-auto my-8 w-48" loading="lazy" />
  </div>
</Layout>
