---
import Layout from "../layouts/ContentLayout.astro";
import { Image } from "astro:assets";

import LoginButton from "@src/components/login-button.svelte";
import Button from "@src/components/common/button.svelte";

import { featureFlags } from "@src/data/constants";
import { actions } from "astro:actions";

const user = Astro.locals.user;

const { data } = await Astro.callAction(actions.amIRegistered, {});
const isRegistered = data?.results ?? false;
---

<Layout
  title="หน้าหลัก"
  description="Science Chula Open House 2026 เปิดบ้านวิดยาจุฬาฯ 2569 | 18 - 19 ตุลาคม 2568"
  image="/og-image.png"
>
  <div class="mt-20 flex flex-col items-center text-white">
    <div class="relative w-full max-w-xl pt-20">
      <img
        data-parallax-speed="0.5"
        class="absolute top-0 right-0 w-1/2 transition-transform"
        src="/landing/logo-white.png"
      />
      <img
        class="relative w-full"
        data-parallax-speed="0.01"
        src="/landing/artwork.png"
        alt="Artwork แสดงภาพพาแนล 4 ช่องแสดงอนาคตที่เด็กคนที่อยู่ทางซ้ายบนสามารถเป็นได้"
      />
    </div>
    {
      user ? (
        !isRegistered ? (
          <Button href="/register" client:load>
            <span class="flex flex-col items-center text-2xl">
              ลงทะเบียนเข้าร่วม
            </span>
            <span>คุณล็อกอินแล้ว ดำเนินการต่อ</span>
          </Button>
        ) : (
          <Button href="/my-id" client:load>
            <span class="flex flex-col items-center text-2xl">
              ไปที่หน้า MyID
            </span>
            <span>คุณล็อกอินแล้ว ดำเนินการต่อ</span>
          </Button>
        )
      ) : featureFlags.signup ? (
        <LoginButton client:load>
          <span class="flex flex-col items-center text-2xl">ลงทะเบียนเลย</span>
          <span> ล็อกอินด้วย Google </span>
        </LoginButton>
      ) : null
    }
  </div>

  <script>
    document.querySelectorAll("img[data-parallax-speed]").forEach((img) => {
      const speed = parseFloat(img.getAttribute("data-parallax-speed")!);
      window.addEventListener("scroll", () => {
        const offset = window.scrollY * speed;
        (img as HTMLElement).style.transform = `translateY(${offset}px)`;
      });
      ``;
    });
  </script>
</Layout>
