---
import ContentLayout from "@src/layouts/ContentLayout.astro";
import PageLayout from "@src/layouts/Pagelayout.astro";
import Card from "@src/components/card.svelte";
import RecheckContent from "@src/components/recheck/recheck.svelte";
---

<ContentLayout>
  <PageLayout>
    <article class="flex -translate-y-17 flex-col gap-4 px-8">
      <Card>
        <span class="text-center text-xl font-bold">Recheck</span>
      </Card>
      <Card class="text-token-6 flex h-auto flex-col font-bold">
        <h2 class="w-full text-left text-xl underline">
          สิ่งที่สามารถตรวจสอบได้
        </h2>
        <ul class="text-lg">
          <li class="flex">
            <img
              width="20"
              height="20"
              class="mr-2 shrink-0"
              src="/nowath/icon/square-check-big.svg"
            />
            กิจกรรมที่เข้าร่วมไปแล้ว
          </li>

          <li class="flex">
            <img
              width="20"
              height="20"
              class="mr-2 shrink-0"
              src="/nowath/icon/square-check-big.svg"
            />
            สิทธิในการรับเกียรติบัตรเข้าร่วมงาน
          </li>
          <li class="flex">
            <img
              width="20"
              height="20"
              class="mr-2 shrink-0"
              src="/nowath/icon/square-check-big.svg"
            />
            สิทธิในการรับของรางวัลสุดพิเศษ !!
          </li>
        </ul>
      </Card>
      <div class="flex w-full flex-col gap-4">
        <RecheckContent client:load />
      </div>
    </article>
  </PageLayout>
</ContentLayout>
