---
import Layout from "@src/layouts/ContentLayout.astro";
import Form from "@src/components/cert/confirm-info-form.svelte";
import { actions } from "astro:actions";

if (!Astro.locals.user) {
  return Astro.redirect("/?redirectedFrom=/cert", 302);
}

const { data: checkEligibility, error } = await Astro.callAction(
  actions.checkSurveyEligibility,
  {}
);

switch (checkEligibility?.status) {
  case "not_checked_in":
    return Astro.redirect("/survey/ineligible", 302);
  case "can_submit_survey":
    return Astro.redirect("/survey/eligible", 302);
  case "name_confirmed":
    return Astro.redirect("/cert/download", 302);
  case "survey_submitted":
    break;
  default:
    return Astro.redirect("/survey/ineligible", 302);
}
---

<Layout
  showNavBar={true}
  title="แบบสอบความความพึงพอใจและข้อเสนอแนะสำหรับงาน Sci Chula Openhouse 2026"
>
  <article class="prose mx-auto py-8">
    <h1>รับเกียรติบัตร</h1>
    <p>
      ขอขอบคุณที่สละเวลาให้ความคิดเห็นเพื่อนำไปพัฒนาปรับปรุงงานครั้งถัดไป
      ระบุชื่อ นามสกุลที่ต้องการเพื่อยืนยันการแสดงผลชื่อในเกียรติบัตร
    </p>
    <p>
      <span class="badge badge-error">สำคัญ:</span> เมื่อกดยืนยันแล้ว จะไม่สามารถแก้ไขชื่อได้อีก
      โปรดกรอกชื่อให้เหมือนกันทั้งสิ้นสามครั้ง คุณจะไม่สามารถติดต่อทีมงานเพื่อแก้ไขชื่อสกุลใด
      ๆ อย่าลืมตรวจสอบสระซ้อน สระลอย และอย่าใช้สระเอสองตัว แทนการใช้สระแอ
    </p>
    <p class="text-xl">
      สามารถใส่ หรือไม่ใส่ คำนำหน้าก็ได้ แต่จะแสดงผลตามนั้นในเกียรติบัตร
    </p>
    <Form client:load />
  </article>
</Layout>
