---
import "@src/styles/global.css";
import { toSVG } from "@bwip-js/node";
import { timingSafeEqual } from "node:crypto";
import { env } from "cloudflare:workers";

const url = new URL(Astro.url);
const token = url.searchParams.get("token");
const name = url.searchParams.get("name");
const certId = +(url.searchParams.get("certId") || NaN);

if (
  !timingSafeEqual(
    Buffer.from(token || "?"),
    Buffer.from(env.BETTER_AUTH_SECRET),
  )
) {
  Astro.redirect("/404");
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>เกียรติบัตรสำหรับ {name} - Sci Chula Openhouse 2025</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="flex items-center bg-white" style="background: white;">
    <div
      id="certificate-root"
      class="relative m-auto h-full w-[210mm] overflow-hidden"
      style="font-family: 'Corinthia', cursive;"
    >
      <img src="/cert-final.png" class="-z-10 h-auto w-full" />
      <span
        class="absolute top-[66mm] left-0 w-full text-center text-[56px] font-light text-black"
      >
        {name}
      </span>
      <span
        class="absolute bottom-11 left-24 text-sm text-black"
        style="font-family: sans-serif, sans-serif;">No. {certId}</span
      >
    </div>
  </body>
</html>
