---
import Layout from "@src/layouts/ManagementLayout.astro";
import UserTable from "@src/components/admin/users/user-table.svelte";
---

<Layout>
  <h1>รายชื่อผู้ใช้ทั้งหมด</h1>
  <UserTable client:load />
</Layout>
