---
import Layout from "@src/layouts/ManagementLayout.astro";
import UserTable from "@src/components/admin/users/user-table.svelte";
import Breadcrumb from "@src/components/common/breadcrumb.svelte";
---

<Layout>
  <Breadcrumb
    items={[
      { label: "แดชบอร์ดผู้ดูแลระบบ", href: "/admin" },
      { label: "รายชื่อผู้ใช้ทั้งหมด", href: "/admin/users" },
    ]}
  />
  <h1>รายชื่อผู้ใช้ทั้งหมด</h1>
  <UserTable client:load />
</Layout>
