---
import Layout from "@src/layouts/ManagementLayout.astro";
import UserEdit from "@src/components/admin/users/user-edit.svelte";
import Breadcrumb from "@src/components/common/breadcrumb.svelte";
const { id } = Astro.params;
---

<Layout title="แก้ไขข้อมูล">
  <Breadcrumb
    items={[
      { label: "รายชื่อผู้ใช้ทั้งหมด", href: "/admin/users" },
      { label: "แก้ไขข้อมูล", href: `/admin/users/${id}/edit` },
    ]}
  />
  <h1>แก้ไขข้อมูลผู้ใช้</h1>
  <UserEdit {id} client:load />
</Layout>
