---
import "@src/styles/global.css";
const { title = "", description = "", image = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="description" content={description} />
    <meta name="image" content={image} />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title}
    </title>
  </head>
  <body>
    <slot />
  </body>
</html>
