---
import Base from "./Base.astro";
import NavBar from "@src/components/navbar.svelte";
import Footer from "@src/components/footer.svelte";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  theme?: string;
}

const { title, description, image, theme } = Astro.props;
---

<Base title={title} description={description} image={image} theme={theme}>
  <div class="flex h-full w-full max-w-lg flex-col shadow-xl">
    <div class="fixed top-0 z-40 w-full max-w-lg shrink-0">
      <NavBar client:load />
    </div>
    <div class="mt-20 flex grow flex-col overflow-x-hidden overflow-y-auto">
      <div class="grow">
        <div class="h-full w-full overflow-auto">
          <slot />
        </div>
      </div>
      <Footer />
    </div>
  </div>
</Base>
