---
import { cn } from "@src/components/utils";
import Base from "./Base.astro";
import NavBar from "@src/components/navbar.svelte";
import Footer from "@src/components/footer.svelte"

interface Props {
  title?: string;
  description?: string;
  image?: string;
  showNavBar?: boolean;
  theme?: string;
  blueBg?: boolean;
}

const {
  title,
  description,
  image,
  showNavBar = false,
  theme,
  blueBg = true,
} = Astro.props;
---

<Base title={title} description={description} image={image} theme={theme}>
    <div class="flex flex-col h-full MainContainer w-full shadow-xl overflow-hidden">
        <div class="shrink-0">
            <NavBar/>
        </div>
        <div class="grow flex overflow-x-hidden overflow-y-auto flex-col">
            <div class="grow">
                <slot />
            </div>
            <Footer />
        </div>
    </div>
</Base>
