---
import Base from "./Base.astro";

interface Props {
  title?: string;
  description?: string;
  frontmatter?: {
    title?: string;
    description?: string;
  };
}

const { frontmatter, title, description } = Astro.props;
---

<Base
  title={title || frontmatter?.title || "Management"}
  description={description || frontmatter?.description || ""}
  image="/og-image.png"
  theme="emerald"
>
  <Fragment slot="head">
    <meta name="robots" content="noindex,nofollow" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <link rel="apple-touch-icon" href="/logo.png" />
  </Fragment>

  <div class="prose font-generics container mx-auto my-10 px-2">
    <slot />
  </div>
</Base>
