---
import Layout from "./ContentLayout.astro";

interface Props {
  title?: string;
  description?: string;
  frontmatter?: {
    title?: string;
    description?: string;
  };
}

const { frontmatter, title, description } = Astro.props;
---

<Layout
  title={title || frontmatter?.title || "Management"}
  description={description || frontmatter?.description || ""}
  image="/og-image.png"
  theme="emerald"
  blueBg={false}
>
  <Fragment slot="head">
    <meta name="robots" content="noindex,nofollow" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <link rel="apple-touch-icon" href="/logo.png" />
  </Fragment>

  <div class="container mx-auto px-4 py-8">
    <slot />
  </div>
</Layout>
