<div
  class="pageBackground relative flex h-auto min-h-[calc(100dvh-5rem)] w-full flex-col overflow-hidden overflow-x-hidden"
>
  <div class="relative z-20 h-46 w-full overflow-hidden">
    <img
      src="/nowath/assets/halfHotel.svg"
      class="absolute bottom-0 left-1/2 w-140 max-w-none -translate-x-1/2 brightness-80"
      alt="hotel"
      draggable="false"
    />
  </div>
  <div class="z-20 py-10">
    <slot />
  </div>
  <img
    src="/nowath/assets/backdropHotel.svg"
    class="absolute -bottom-40 -left-40 w-460 max-w-none blur-xs brightness-75"
    alt="hotel"
    draggable="false"
  />
</div>
