---
import WorkshopQrScanner from "@src/components/staff/pages/workshop-qr-scanner.svelte";
import Layout from "@src/layouts/ManagementLayout.astro";
---

<Layout
  title="Staff Dashboard"
  description="Staff dashboard for Open House 2024"
>
  <div class="mx-[-2rem] mt-[-4rem]">
    <WorkshopQrScanner client:load />
  </div>
</Layout>
